body{
    padding-right:80px;
    padding-left:80px;
}

h1{
    font-size:30px;
}

.a{
    position:relative;
    margin:0px;
}
.my-name{
    text-align:center;
    font-family: 'Droid-sans', sans-serif;
    background-color:#4aaaa5;
    color:#eee;
    padding:1px 15px 1px 15px;
    margin: 0px 740px 0px 100px;
}
.links{
    position:absolute;
    width:200px;
    height:50px;
    top:30px;
    right:150px;
}
.b{
    text-align:center;
    font-family:arial;
    float:left;
    position:relative;
    width:33.333%;
   
}

.c{
    
    font-family:arial;
    float:left;
    position:relative;
    width:33.333%;
}

.d{
    text-align:center;
    font-family:arial;
    float:left;
    position:relative;
    width:33.333%;
}
.green{
    color:#4aaaa5;
    font-family:'PT-Sans', sans-serif;
}

.main {
    background-color:#eee;
    position:relative;
   width:1085px;
    height:445px;
    margin-top:0px;
    margin-bottom:0px;
}

.back-drop{
    margin:0px;
    width:1085px;
    height:545px;
    position:absolute;
    top:0px;
    bottom: 0px;
}

.box1{
    background-color:#ffffff;
    width:500px;
    padding:20px;
    margin:20px 200px 20px 100px;
    position:absolute;

}

.thin-grey-line{
    background-color:#eee;
    padding:2px;
}

.pic-size{
    float:left;
    margin-top:20px;
    margin-right:20px;
    width:140px;
    height:140px;
}

.bio{
    line-height: 25px;
    font-family:'roboto', sans-serif;
    font-size: 15px;
    color:#888;
}

.box2{
       background-color:#ffffff;
       text-align:center;
    width: 250px;
    height:150px;
     position:absolute;
     top:40px;
     left:700px;
}


.thin-green-line{
    position:relative;
    margin-top:75px;
    margin-bottom:0px;
    background-color:#4aaaa5;
    padding:3px;
}

.grey-box{
    position:relative;
    background-color:#666;
    color:#eee;
    padding:25px;
    font-size:12px;
    text-align:center;
}





.no-margin{
    font-family:arial;
    color:#888;
    font-size: 15px;
    margin-bottom: -5px;
    padding: 0px;
}

.name-box{
    width:450px;
}

.email-box{
    width:450px;
}

.messege-box{
    margin-top:7px;
    width:450px;
    height:100px;
}
.submit-b{
    background-color:#4aaaa5;
    color:#eee
}






.rotor-pic{
width:216px;
height:144px;
margin-top:40px;
margin-left:0px;   
}

.rotor-pic-text{
    font-size:20px;
    text-align:center;
    font-family: times;
    background-color:#4aaaa5;
    color:#eee;
    padding-top:3px;
    padding-bottom:3px;
    width:216px;
    position: absolute;
    bottom: 220px;
    left:20px;
}

.gear-pic{
width:216px;
height:144px;
margin-top:40px;
margin-left: 40px;
}

.gear-pic-text{
    font-size:20px;
    text-align:center;
    font-family: times;
    background-color:#4aaaa5;
    color:#eee;
    padding-top:3px;
    padding-bottom:3px;
    width:216px;
    position: absolute;
    bottom: 220px;
    left:282px;
}

.bearing-pic{
    width:216px;
height:144px;
margin-top:30px;
margin-left:0px; 
}

.bearing-pic-text{
    font-size:20px;
    text-align:center;
    font-family: times;
    background-color:#4aaaa5;
    color:#eee;
    padding-top:3px;
    padding-bottom:3px;
    width:216px;
    position: absolute;
    bottom: 40px;
    left:20px;
}

.turbine-pic{
    width:216px;
height:144px;
margin-top:30px;
margin-left:40px;
}

.turbine-pic-text{
    font-size:20px;
    text-align:center;
    font-family: times;
    background-color:#4aaaa5;
    color:#eee;
    padding-top:3px;
    padding-bottom:3px;
    width:216px;
    position: absolute;
    bottom: 40px;
    left:282px;
}

@media screen and (max-width:639px) {
#a {
width: 100%;
}

#my-name{
width: 30%;
}

#links{
width:30%;
}

#main{
width:100%;
}

#back-drop{
    width:100%;
}

#box1{
    width:70%;
}

#box2{
    width:30%;
}

#thin-green-line{
    width:100%;
}

#grey-box{
width:100%;
}
}

@media screen and (min-width:640px) and (max-width:767px) {
#a {
width: 100%;
}

#my-name{
width: 30%;
}

#links{
width:30%;
}

#main{
width:100%;
}

#back-drop{
    width:100%;
}

#box1{
    width:70%;
}

#box2{
    width:30%;
}

#thin-green-line{
    width:100%;
}

#grey-box{
width:100%;
}
}

@media screen and (min-width:768px) and (max-width:980px) {
#a {
width: 100%;
}

#my-name{
width: 30%;
}

#links{
width:30%;
}

#main{
width:100%;
}

#back-drop{
    width:100%;
}

#box1{
    width:70%;
}

#box2{
    width:30%;
}

#thin-green-line{
    width:100%;
}

#grey-box{
width:100%;
}

}

